#ContenedorBotones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 25vh;
    height: 25vh;
    color: var(--white);
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgba(0,0,0,9);
}

#mainContenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgb(14,0,255);
    background: linear-gradient(0deg, rgba(14,0,255,1) 0%, rgba(0,0,144,1) 0%, rgba(0,164,255,1) 100%);
    align-items: center;
}

#btnNuevoUsuario {
    height: 6vh;
    margin-top: 2rem;
    background-color: var(--azul600);
    color: white;
    transition: transform 0.2s ease-in, background-color 0.2s ease-in;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,9);
}

    #btnNuevoUsuario:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease-in;
        background-color: var(--azul950);
        transition: transform 0.2s ease-in, background-color 0.2s ease-in;
    }

.btnSeleccionar {
    height: 5vh;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--azul950);
    border-radius: 1rem;
    transition: transform 0.2s ease-in, background-color 0.2s ease-in;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

    .btnSeleccionar:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease-in;
        background-color: var(--azul600);
    }


#imagenInicio {
    position: absolute;
    width: 12rem;
    height: auto;
    top: 0;
}

#H1Style {
    align-items: center;
    margin-bottom: 1rem;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 1.5rem;
}
