body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


#mainContenedor {
    padding-left: 20%;
    padding-right: 20%;
}

.formStyles {
    display: grid;
    grid-template-columns: 30% 70%;
}

#btnGuardar {
    margin-left: 50%;
    margin-right: auto;
}

h1 {
    font-weight: bold;
    text-align: center;
}
