:root {
    --azul: #1693a5;
    --azul950: #0d343f;
    --azul900: #1c4f5d;
    --azul800: #1d5f6d;
    --azul700: #197585;
    --azul600: #1d5f6d;
    --azul500: #17b6c3;
    --azul400: #33d3dd;
    --azul300: #73e7ed;
    --azul200: #acf2f5;
    --azul100: #d3fafa;
    --azul50: #eefdfc;
    --crema950: #322416;
    --crema900: #57442c;
    --crema800: #65502e;
    --crema700: #776031;
    --crema600: #947f3a;
    --crema500: #ad9d45;
    --crema400: #bcb053;
    --crema300: #ccc578;
    --crema200: #dfdda9;
    --crema100: #f0f0d8;
    --crema50: #f8f8ee;
    --black: #000;
    --white: #fff;
    --white950: #292929;
    --white900: #3d3d3d;
    --white800: #464646;
    --white700: #525252;
    --white600: #656565;
    --white500: #7c7c7c;
    --white400: #989898;
    --white300: #bdbdbd;
    --white200: #dcdcdc;
    --white100: #efefef;
    --white50: #737373;
    --besh950: #2b251d;
    --besh900: #4d4436;
    --besh800: #584e3b;
    --besh700: #665b42;
    --besh600: #7f754f;
    --besh500: #948e5e;
    --besh400: #a39f6c;
    --besh300: #b8b68c;
    --besh200: #d8d8c0;
    --besh100: #e8e8d9;
    --besh50: #f6f6f0;
}
