
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./css/creacionUsuaio.css" rel="stylesheet">
    <link href="./css/root.css" rel="stylesheet" />
    <link href="./css/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <title>Document</title>
</head>

<body id="bodyStyles">
    <main id="mainStyles">
        <img id="imagenInicio" src="./assets/img/UnibibloLogo.svg" alt="Unibiblo Logo">
        <div id="contenedorIngreso">
            <div class="contendorIndividual">
                <p>Primer Nombre</p>
                <input type="text" name="primerNombre" style="display: inline-block;">
            </div>

            <div class="contendorIndividual">
                <p>Segundo Nombre</p>
                <input type="text" name="segundoNombre" style="display: inline-block;">
            </div>

            <div class="contendorIndividual">
                <p>Primer Apellido</p>
                <input type="text" name="primerApellido" style="display: inline-block;">
            </div>
                        
            <div class="contendorIndividual">
                <p>Segundo Apellido</p>
                <input type="text" name="segundoApellido" style="display: inline-block;">
            </div>

            <div class="contendorIndividual">
                <p>DPI</p>
                <input type="text" name="dpi" style="display: inline-block;">
            </div>

            <div class="contendorIndividual">
                <p>Telefono</p>
                <input type="text" name="telefono" style="display: inline-block;">
            </div>

            <div class="contendorIndividual">
                <p>Correo Electronico</p>
                <input type="email" name="correoElectronico" style="display: inline-block;">
            </div>

            <div class="contendorIndividual">
                <p>Direccion</p>
                <input type="text" name="Direccion" style="display: inline-block;">
            </div>

            <div class="contendorIndividual">
                <p>Contrasena</p>
                <input type="password" name="Contrasena" style="display: inline-block;">
            </div>

            <div class="contendorIndividual">
                <p>Confirmar contrasena </p>
                <input type="password" name="confirmarContrasena" style="display: inline-block;">
            </div>

        </div>
        <button id="btnCrearUsuario">Crear Usuario</button>
    </main>
</body>
</html>
