
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/root.css" rel="stylesheet" />
    <link href="~/css/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <title>Index</title>
</head>
<body>
    <main id="mainContenedor">
        <img id="imagenInicio" src="~/assets/img/UnibibloLogo.svg" alt="Unibiblo Logo">
        <h1 id="H1Style">Bibliteca Unibiblo</h1>
        <div id="ContenedorBotones">
            <button onclick="window.location.href = '/AdministradorLector/IngresoAdministrador';" id="btnAdministrador" class="btnSeleccionar">Administrador</button>
            <button onclick="window.location.href = '/AdministradorLector/IngresoLector';" id="btnLector" class="btnSeleccionar">Lector</button>
        </div>

        <a asp-controller="AdministradorLector" asp-action="CreacionNuevoUsuario" id="btnNuevoUsuario" class="btnCrearNuevo">Crear Nuevo</a>
    </main>
</body>
</html>
