
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/root.css" rel="stylesheet" />
    <link href="~/css/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="~/css/IngresoUsuario.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <main id="mainStyles">
        <form asp-action="HomeAdministrador" asp-controller="AdministradorLector">
        <img id="imagenInicio" src="~/assets/img/UnibibloLogo.svg" alt="Unibiblo Logo">
        <h1 id="H1Style">Bibliteca Unibiblo</h1>

        <div id="contenedorIngreso">

            <section>
                <div class="signin">

                    <div class="content">

                        <h2>Ingreso Administrador</h2>

                        <div class="form">

                            <div class="inputBox">

                                <input type="text" required> <i>Usuario</i>

                            </div>

                            <div class="inputBox">

                                <input type="password" required> <i>Contraseña</i>

                            </div>


                            <div class="inputBox">

                                <input type="submit" value="Ingresar" id="btnIngresar">

                            </div>

                        </div>

                    </div>

                </div>

            </section>

        </div>

        <button id="Ingresar"></button>
        </form>
    </main>

</body>
</html>
