@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/root" rel="stylesheet" />
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/css/prestamosAdmin.csS" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbarStyles">
        <h1>AQUI VA LA NAVBAR DEL CHOSTO</h1>
    </nav>
    <main id="mainContenedor">
        <h1>Prestamos</h1>
        <form action="prestamos.php" method="POST" class="formStyles">

            <label for="correoUsuario">Correo Electronico</label>
            <input type="text" name="correoUsuario" id="correoUsuario">

            <label for="fechaSalida">Fecha Salida</label>
            <input type="date" name="fechaSalida" id="fechaSalida">

            <label for="fechaEntrada">Fecha Entrada</label>
            <input type="date" name="fechaEntrada" id="fechaEntrada">

            <label for="ejemplarPrestado">Ejemplar prestado</label>
            <input type="text" name="ejemplarPrestado" id="ejemplarPrestado">

        </form>

        <input type="submit" value="Guardar" id="btnGuardar">
    </main>
    <footer>
        <h3>Aqui va el footer (AUN NO CREADO)</h3>
    </footer>

</body>
</html> 